
.kkarft-import-wrapper h1, .kkarft_import_order_tab_section {  
    margin: 25px 15px 20px;
}
.kkarft-import-wrapper .kkarft-wc-form-wrapper form.woocommerce-importer {    
    background: #fff;
    padding: 0;
    margin: 16px 0 0px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%);
    color: #555;
    text-align: left;
}
.kkarft-import-wrapper .kkarft-wc-form-wrapper form.woocommerce-importer header div.csv_header_wrap {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 24px 24px 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.kkarft-wc-form-wrapper form.woocommerce-importer header div.csv_header_wrap h2 {
    margin: 0 0 10px;
    color: #555;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
}
.kkarft-wc-form-wrapper form.woocommerce-importer header div.csv_header_wrap p {
    font-size: 1em;
    line-height: 1.75em;
    font-size: 16px;
    color: #555;
    margin: 0 0 10px;
}
.kkarft-wc-form-wrapper form.woocommerce-importer header div.csv_header_wrap p a img.download-icon{
    width: 16px;
    position: relative;
    top: 3px;
    margin-right: 2px;
}
.kkarft-import-wrapper .kkarft-wc-form-wrapper form.woocommerce-importer section {
    padding: 20px;
}
.kkarft-wc-form-wrapper footer.wc-actions {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding: 20px;
}
.kkarft-wc-form-wrapper form.woocommerce-importer section > div.uplaod_input_box{
    display: flex;
    align-items: center;
}
.kkarft-wc-form-wrapper form.woocommerce-importer section > div.uplaod_input_box label {
    width: 30%;
    font-size: 16px;
    font-weight: 400;
}
.kkarft-wc-form-wrapper form.woocommerce-importer section > div.uplaod_input_box div {
    border: 1px solid #f4f4f4;
    width: 70%;
    padding: 20px;
}
.kkarft-wc-form-wrapper form.woocommerce-importer section > div.uplaod_input_box div small{
    font-size: 12px;
}

.kkarft_import_order_tabs ul.tab-links {
    background: none;
    border: oldlace;
    padding: 0px;
    margin: 0;
}
.kkarft_import_order_tabs ul.tab-links > li {
    padding: 5px 12px !important;
    margin-bottom: 0px;
    background: #007cba;
}
.kkarft_import_order_tabs ul.tab-links > li.ui-state-active {
    background-color: #e6e6e6;
    border: 1px solid #c5c5c5;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.kkarft_import_order_tabs ul.tab-links > li.ui-state-active a {
    color: #545454;
    outline: none;
    box-shadow: none;
}
.kkarft_import_order_tabs ul.tab-links > li a {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 0.2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}
.kkarft_import_order_tabs div.tab-content {
    background: #f6f6f6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 3em 1.1em 1.1em;
    background: none;
}